body {
 font-family: Arial, Helvetica, sans-serif;
 margin: 0;
 color: white;
}

.header {
  padding: 80px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

a {
    text-decoration: none;
    color: #ff2b2b;
}

h2 {
    font-family: monospace;
    font-size: 30px;
}

#navbar {
  overflow: hidden;
  background-color: #141414;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

 #navbar a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-family: monospace;
  font-size: 20px;
}

#navbar a#left {
  float: left;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#main {   
  background-color: black;
  padding: 20px;
}
